<div class="planet-search-container">
  <div class="jumbotron">
    <h1>Astro App</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <label for="planet">Select Planet</label>
          <select name="planet" id="planet" class="form-control" ngModel #planetCtrl="ngModel">
            <option *ngFor="let planet of planetOptions" [value]="planet.value">
              {{ planet.display }}
            </option>
          </select>
    <button class="btn btn-primary" type="submit">Search Images</button>
    <div class="selected-planet-info" *ngIf="planetCtrl.touched">
      <h3>
        {{ planetSelected }}
      </h3>
      <ul>
        <li>
          {{ planetInfo.moon }}
        </li>
        <li>
          {{ planetInfo.year }}
        </li>
        <li>
          {{ planetInfo.type }}
        </li>
      </ul>
    </div>
    </form>
  </div>
</div>
<app-planet-picture-list></app-planet-picture-list>

